:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color: #213547;
    background-color: #fbfbfb;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-size: 3em;
    line-height: 1.1;
}

p {
    @media screen and (max-width: 960px) {
        font-size: 1.2rem;
        margin-top: 8px;
    }
}
