:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #213547;
  background-color: #fbfbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  color: #fbfbfb;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6161ff;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  box-shadow: 0px 10px 15px rgba(97, 97, 255, 0.25);
}
button:hover {
  border-color: #646cff;
  background-color: #4046b7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  @media screen and (max-width: 960px) {
    font-size: 1.2rem;
    margin-top: 8px;
  }
}
